<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory App</title>
  </head>
  <body>
    <%- include('partials/navbar') %> <%- include('partials/errors') %>
    <form action="/games/delete" method="post">
      <label for="admin">Admin Password:</label>
      <input type="text" name="admin" required />
      <button type="submit" name="<%=locals.id%>">Delete</button>
    </form>
  </body>
</html>
