<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory App</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/navbar') %> <%- include('partials/errors') %>
    <form action="/games/new" method="post" class="input-form">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required />
      <label for="genre">Genre</label>
      <select name="genre" id="genre">
        <% locals.genres.forEach((genre) => { %>
        <option value="<%=genre.id%>"><%= genre.name%></option>
        <%}) %>
      </select>
      <label for="developer">Developer</label>
      <input type="text" name="developer" id="developer" required />
      <label for="company">Company</label>
      <input type="text" name="company" id="company" />
      <label for="admin">Admin Password</label>
      <input type="password" name="admin" id="admin" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
