<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory App</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <header>
      <h1>Welcome to our Game Inventory</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
        impedit eius? Aspernatur cupiditate, fuga harum explicabo corrupti,
        sunt, at cumque esse consequatur officia ducimus cum nihil voluptatibus
        ea aperiam ipsam?
      </p>
      <a href="/games">Browse Our Games</a>
    </header>
  </body>
</html>
